.hidden {
  display: none;
}

$fontSize: 14px;

html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-size: $fontSize;
}

fieldset {
  border: none;
  margin: 4px 0;
  padding: 16px 12px;
  background-color: #a451;
}

.container {
  margin: 24px auto;
  max-width: 800px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  border-top: 1px solid #8882;
  padding: 4px 0;

  &:last-child {
    border-bottom: 1px solid #8882;
  }

  > * {
    padding: 0 12px;
  }

  .game--date {
    &.past {
      color: gray;
    }
    &.current {
      color: red;
    }
    &.future {
      color: darkolivegreen;
    }
  }

  .game--score {
    color: gray;
    font-style: italic;
    font-size: 0.875rem;
    white-space: pre;
  }

  .team-logo {
    height: 46px;
    width: 44px;
    background-image: url("../team_logos.svg");
    background-size: 780px;
    background-clip: content-box;
  }

  &:hover {
    background-color: #a451;
  }

  .team-logo-bkn {
    background-position: -36px -226px;
  }

  .team-logo-bos {
    background-position: -36px -180px;
  }

  .team-logo-cha {
    background-position: -416px -242px;
    background-size: 840px;
  }

  .team-logo-chi {
    background-position: -489px -180px;
  }

  .team-logo-cle {
    background-position: -489px -226px;
  }

  .team-logo-dal {
    background-position: -263px -178px;
  }

  .team-logo-det {
    background-position: -489px -271px;
  }

  .team-logo-gsw {
    background-position: -609px -185px;
  }

  .team-logo-ind {
    background-position: -516px -331px;
    background-size: 820px;
  }

  .team-logo-lal {
    background-position: -609px -272px;
  }

  .team-logo-mil {
    background-position: -489px -357px;
  }

  .team-logo-min {
    background-position: -157px -227px;
  }

  .team-logo-phi {
    background-position: -36px -309px;
  }

  .team-logo-phx {
    background-position: -609px -314px;
  }

  .team-logo-sac {
    background-position: -609px -359px;
  }

  .team-logo-sas {
    background-position: -267px -353px;
  }

  .team-logo-tor {
    background-position: -36px -355px;
  }

  .team-logo-uta {
    background-position: -157px -357px;
  }
}
