.hidden {
  display: none;
}

$fontSize: 14px;

html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-size: $fontSize;
}

.container {
  margin: 24px auto;
  max-width: 800px;
}

.game {
  display: flex;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;

  * {
    padding: 0 12px;
  }

  .game--date {
    &.past {
      color: gray;
    }
    &.current {
      color: red;
    }
    &.future {
      color: darkolivegreen;
    }
  }

  .game--score {
    color: gray;
    font-style: italic;
    font-size: 0.875rem;
    white-space: pre;
  }
}
